* {
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  height: 60px;
}



.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  padding-bottom: 60px;
}

.companyRow {
  display: flex;
  justify-content: space-between;
}

.notesSection {
  display: flex;
}

.noJob {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

button{
  background-color: red;
}