* {
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyRow {
  display: flex;
  justify-content: space-between;
}

.notesSection {
  display: flex;
}

.noJob {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
